.currentCity, .favourites {
    max-width: 480px;
    margin: 0 auto;
}

.currentCityHeader, .currentCityBody, .favouritesHeader {
    padding: 0 10px;
}

.favouriteCity, .currentCityItems {
    flex-basis: 100%;
}

@media only screen and (min-width: 910px) {

    .currentCity, .favourites {
        max-width: 910px;
    }

    .favouriteCity, .currentCityItems {
        flex-basis: 45%;
    }

}

/* current city */
.currentCityBody{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.currentCityBodyInfo {
    display: flex;
    align-items: center;
    align-content: stretch;
    height: 100%;
    flex-wrap: wrap;
}

.currentCityBody h2 {
    margin: 0;
    width: 100%;
}

/* Main info for current city */
.currentCityName {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.currentCityTemperature {
    font-size: 60px;
    margin: 0;
}

.currentCityPicture {
    width: 80px;
    margin-left: 20px;
}

/* City items */
.cityItemPoint {
    display: flex;
    margin-top: 5px;
    background-color: #a7afb1;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.cityItemPointName {
    margin: 0;
    font-weight: bold;
}

.cityItemPointValue {
    margin: 0 0 0 auto;
}

.currentCityHeader, .favouritesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* */
ul.favouritesCities {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

li.favouriteCity {
    padding: 0;
    border-radius: 5px;
    margin: 10px;
    width: 390px;
}

.favouriteCityHeader {
    display: flex;
    align-items: center;
}

.favouriteCityName {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.favouriteCityTemperature {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0 0.5em;
}

.favouriteCityWeatherPicture {
    width: 44px;
    margin-left: 1em;
}

button {
    font-size: 200%;
    width: 1em;
    height: 1em;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    border-radius: 50%;
    background-color: #a7afb1;
    border: none;
}

input.addFavorite {
    font-size: 175%;
    width: 1em;
    height: 1em;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    border-radius: 50%;
    background-color: #a7afb1;
    border: none;
}

input {
    vertical-align: middle;
}

button:hover, input.addFavorite:hover {
    color: aliceblue;
}

ul {
    padding-left: 0;
    margin-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style-type: none;
}
